%tr
  %td= classroom.name
  %td.actions
    = link_to icon_for(:edit), edit_classroom_path(classroom), title: t('text.edit'), 'data-toggle' => 'tooltip'
    = link_to_destroy classroom if classroom.can_destroy?
