%fieldset[f.object]
  .row
    .col-md-6= f.input :name, label: false
    .col-md-5= f.input :color, label: false, collection: level_colors_options, include_blank: false
    .col-md-1
      = f.hidden_field :_destroy
      = link_to "&times;".html_safe, '#', class: "remove_fields btn btn-danger btn-block"
