%tr
  %td
    = modality.name
  %td
    - modality.levels.pluck(:color).each do |color|
      %span.badge.level-color{style: "background:#{color}"} &nbsp;
  %td.actions
    = link_to icon_for(:edit), edit_modality_path(modality), title: t('text.edit'), 'data-toggle' => 'tooltip'
    = link_to_destroy modality if modality.can_destroy?
