@import 'bootstrap'

h1, h2, h3, h, h5, h6
  font-weight: normal

h1.navbar-brand a
  display: inline-block
  color: #FFF

.nav-item-text
  padding-top: .425rem

.blank .content
  font-style: italic
  color: #999

td.actions
  white-space: nowrap
  text-align: right

.content-header
  nav
    float: right
    margin-top: .3rem

#container
  margin-top: 1rem
