%tr
  %td= plan.name
  %td.text-xs-right= number_to_currency plan.amount
  %td.actions
    = link_to icon_for(:edit), edit_plan_path(plan), title: t('text.edit'), 'data-toggle' => 'tooltip'
    = link_to_destroy plan if plan.can_destroy?
